@keyframes 돌려돌려{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(7200deg);
    }
}

.원본 {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    perspective: 400px;
    margin: 100px auto;
    transform-style:preserve-3d;
}

.회전패널 {
    /* 횐전패널을 한개 더 만드는 이유가 무엇인가? */
    position: absolute;
    /* absolute를 줘서 회전패널에 붙이는 용도 */
    font-size: 32px;
    width: 200px;
    height: 200px;
    transform-style:preserve-3d;
    /* transform-style: preserve-3d;이거는 회전하는 패널에다가 넣어야됨 상속이 안됨 */
    animation: 돌려돌려 20s ;
}

.앞면 {
    backface-visibility: hidden;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
.뒷면 {
    backface-visibility: hidden;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 226, 180);
    transform: rotateY(180deg);
    /* 뒷면에다가 transform 을 줘서 회전을 시켜놔야된다 */

}
