/* utility */
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}
.scronly{
    position:absolute;
    left:-99999px;
    top:auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/* //utility */
/* mediaquery */
@media screen and (max-width:394px){
    .logo img{
        width: 267px;
        height: 53px;
    }
}    
/* //mediaquery */
/* style */
body{
    background-color:#5B2386;
}
.logo{
    margin:0 auto;
    margin-top: 41px;
    margin-bottom: 31px;
    width: 70%;
    height: 16.533%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:100%
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "GmarketSansBold";
    width: 100%;
    height: 59.644%;
}
main header p {
    width: 100%;
    font-family: "OTEnjoystoriesBA";
    text-align: center;
    font-weight: 700;
    font-size: 100%;
    line-height: 24.2px;
    color: #F5DF4D;
    margin-bottom: 150px;
}
.sec1{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.art_1{
    width: 300px;
    height: 68px;
    font-size: 100%;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.art_2 input{
    width: 156px;
    height: 37px;
    color: #BABCBE;
    text-align: center;
    border-radius:5px;
    margin: 17px 0;
}
.art_2{
    font-size: 12px;
    width: 311px;
    height: 124px;
}
.sec1 footer {
    margin-top: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sec1 footer button{
    margin-top: 49px;
    border-radius: 7px;
    font-family: "Gmarket Sans";
    font-size: 14px;
    font-weight: bold;
    color: #5B2386;
    background-color: #FCEE21;
    width: 241px;
    height: 68px;
    position: relative;
}
.btn::after{
    content: "";
    background-image: url(/img/click.png);
    width: 22.68px;
    height: 27.87px;
    display: inline-block;
    position: absolute;
    left:0px;
}
.sec2{
    line-height: 20px;
    margin-top: 64px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 158px;
}

.sec2 footer{
    display: inline-block;
}
.sec2 footer button{
    margin-top: 55px;
    border-radius: 56px;
    font-family: "Gmarket Sans";
    font-size: 14px;
    font-weight: bold;
    color: #5B2386;
}
.btn_1{
    background-color: #FCEE21;
    width: 186px;
    height: 40px;
}
.btn_2{
    background-color: white;
    width: 92px;
    height: 40px;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 23.82%;
    color: white;
    text-align: center;
    font-size: 9px;
    font-family: "Noto Sans KR";
    line-height: 13.03px;

}
footer img{
    margin-top: 87.58px;
    margin-bottom:17px;

}
